# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: build

on:
  push:
    branches:
      - 'master'

  workflow_dispatch:

  schedule:
    - cron:  '15 7 * * *'
    # 毎日7時15分に実行

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  ubuntu:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: 16.x

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Run Python
      run: python uni_get.py

    - name: Move data.json to public directory
      run: mv data.json public/
      
    - name: Commit changes
      run: |

        git config --global user.name "${GITHUB_ACTOR}"
        git config --global user.email "${GITHUB_ACTOR}@users.noreply.github.com"
        # 変更があるか確認
        if git diff --quiet; then
          echo "No changes to commit."
        else
          git add public/data.json
          git commit -m "データを更新"
          git push origin master
        fi

    - run: npm install

    - run: npm run build -repository=${GITHUB_REPOSITORY}

    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@4.1.1
      with:
        branch: 'gh-pages'
        folder: './build/'
        target-folder: './'
